<button type="button" class="btn btn-indigo waves-light" data-toggle="modal" data-target="#addNewCustomer" (click)="demoBasic.show()"
  mdbRippleRadius>
  <i class="fa fa-plus mr-3"></i>Add New Customer
</button>

<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="addNewCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Add New Customer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-messages *ngIf="typeMessage && messageForm" [type]="typeMessage" [message]="messageForm"></app-messages>
        <select *ngIf="customers && customers.length" [(ngModel)]="newCustomer" class="form-control">
          <option [value]="null" disabled>Choose Customer</option>
          <option *ngFor="let customer of customers" [value]="customer._id">{{ customer.name | capitalize }}</option>
        </select>
        <button type="button" class="btn btn-primary btn-block waves-light" (click)="addCustomer()" mdbRippleRadius>Submit</button>
      </div>
    </div>
  </div>
</div>
